<section class="flex items-center justify-center px-4 min-h-[80vh]">
  <div
    class="w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl bg-white rounded-xl shadow-lg p-8"
  >
    <div class="flex justify-center mb-6">
      <img src="assets/dominio/logo5.png" alt="Logo" class="h-16 w-auto" />
    </div>

    <h2 class="text-2xl md:text-3xl font-bold text-center text-gray-800 mb-1">Nueva Contraseña</h2>

    <p class="text-center text-gray-600 text-sm md:text-base mb-6">
      Ingresa el código enviado a tu correo y tu nueva clave
    </p>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="space-y-5 mt-4">
      <div class="flex flex-col gap-2">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-envelope"></i>
          <input
            pInputText
            formControlName="email"
            type="email"
            placeholder="Correo electrónico"
            class="w-full p-3 rounded-lg"
          />
        </span>
      </div>

      <div class="flex flex-col gap-2">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-key"></i>
          <input
            pInputText
            formControlName="confirmationCode"
            type="text"
            placeholder="Código de Verificación"
            class="w-full p-3 rounded-lg"
          />
        </span>
      </div>

      <div class="flex flex-col gap-2">
        <p-password
          formControlName="newPassword"
          [toggleMask]="true"
          placeholder="Nueva Contraseña"
          styleClass="w-full"
          inputStyleClass="w-full p-3 rounded-lg"
          [feedback]="true"
          promptLabel="Elige una clave"
          weakLabel="Débil"
          mediumLabel="Media"
          strongLabel="Fuerte"
        ></p-password>
      </div>

      <div class="flex flex-col gap-2">
        <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="Confirmar Contraseña"
          styleClass="w-full"
          inputStyleClass="w-full p-3 rounded-lg"
        ></p-password>
        <small
          class="text-red-500"
          *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched"
        >
          Las contraseñas no coinciden
        </small>
      </div>

      <p-button
        type="submit"
        [label]="isLoading ? 'Procesando...' : 'Actualizar Contraseña'"
        [loading]="isLoading"
        [disabled]="resetForm.invalid || isLoading"
        styleClass="w-full p-3 bg-blue-600 border-none hover:bg-blue-700 rounded-lg text-white font-semibold transition"
      ></p-button>

      <div class="text-center pt-2">
        <a
          routerLink="/onboarding/auth/sign-in"
          class="text-gray-600 text-sm hover:text-blue-500 transition no-underline"
        >
          Regresar al inicio de sesión
        </a>
      </div>
    </form>
  </div>
</section>
