<section class="flex items-center justify-center px-4 ">
  <div class="w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl bg-white rounded-xl shadow-lg p-8">
    
    <div class="flex justify-center mb-6">
      <img src="assets/dominio/logo5.png" alt="Logo" class="h-16 w-auto" />
    </div>

    <h2 class="text-2xl md:text-3xl font-bold text-center text-gray-800 mb-1">
      Iniciar Sesión
    </h2>

    <p class="text-center text-gray-600 text-sm md:text-base mb-6">
      Accede a tu cuenta de CARYAN Insights
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-5 mt-4">
      
      <div class="flex flex-col gap-2">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-envelope"></i>
          <input 
            pInputText 
            formControlName="email" 
            type="email" 
            placeholder="Correo electrónico" 
            class="w-full p-3 rounded-lg"
          />
        </span>
        <small class="text-red-500" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Email inválido
        </small>
      </div>

      <div class="flex flex-col gap-2">
        <p-password 
          formControlName="password" 
          [toggleMask]="true" 
          [feedback]="false" 
          placeholder="Contraseña"
          styleClass="w-full"
          inputStyleClass="w-full p-3 rounded-lg"
        ></p-password>
        <small class="text-red-500" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Mínimo 8 caracteres
        </small>
      </div>

      <p-button 
        type="submit" 
        [label]="isLoading ? 'Cargando ...' : 'Iniciar Sesión'" 
        [loading]="isLoading"
        [disabled]="loginForm.invalid || isLoading"
        styleClass="w-full p-3 bg-blue-600 border-none hover:bg-blue-700 rounded-lg text-white font-semibold transition"
      ></p-button>

      <div class="text-center pt-2">
        <button
          type="button"
          class="text-gray-600 text-sm hover:text-blue-500 transition border-none bg-transparent cursor-pointer"
          (click)="navigateForgotPassword()"
        >
          ¿Olvidaste tu contraseña?
        </button>
      </div>

      <div class="text-center pt-4 border-t border-gray-200">
        <p class="text-gray-600 text-sm">
          ¿No tienes cuenta? 
          <button
            type="button"
            (click)="goToRegister()"
            class="text-blue-600 font-semibold hover:text-blue-700 transition border-none bg-transparent cursor-pointer"
          >
            Regístrate aquí
          </button>
        </p>
      </div>
    </form>
  </div>
</section>