<div
  class="w-full bg-neutral-900/50 backdrop-blur-xl border border-neutral-800/80 p-6 sm:p-10 rounded-[2rem] shadow-2xl transition-all duration-300 mx-auto"
>
  <div class="text-center mb-8">
    <h2 class="text-3xl font-extrabold text-white tracking-tight sm:text-4xl">
      Bienvenido de nuevo
    </h2>
    <p class="text-neutral-400 text-sm sm:text-base mt-2.5 font-medium">
      Inicia sesión en CARYAN Insights
    </p>
  </div>

  @if (errorMessage()) {
    <div class="mb-6 block animate-fade-in">
      <app-error-message
        [message]="errorMessage()"
        (closed)="errorMessage.set(null)"
      ></app-error-message>
    </div>
  }

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-5">
    <div class="relative group w-full">
      <i
        class="pi pi-envelope absolute left-4 top-1/2 -translate-y-1/2 text-neutral-500 group-focus-within:text-neutral-300 transition-colors z-10"
      ></i>
      <input
        pInputText
        formControlName="email"
        type="email"
        placeholder="Correo electrónico"
        class="w-full !pl-12 !pr-4 !py-4 !bg-neutral-950 !border-neutral-800 focus:!border-neutral-600 !text-white placeholder:text-neutral-600 !rounded-xl transition-all outline-none"
      />
    </div>

    <div class="relative group w-full [&_span]:w-full">
      <i
        class="pi pi-lock absolute left-4 top-1/2 -translate-y-1/2 text-neutral-500 group-focus-within:text-neutral-300 transition-colors z-10"
      ></i>
      <p-password
        formControlName="password"
        placeholder="Contraseña"
        [toggleMask]="true"
        [feedback]="false"
        inputStyleClass="w-full !pl-12 !pr-12 !py-4 !bg-neutral-950 !border-neutral-800 focus:!border-neutral-600 !text-white placeholder:text-neutral-600 !rounded-xl transition-all outline-none"
        styleClass="w-full"
        [style]="{ width: '100%' }"
      >
      </p-password>
    </div>

    <div class="flex items-center justify-end pt-1">
      <button
        type="button"
        class="text-xs sm:text-sm font-medium text-neutral-400 hover:text-white transition-colors duration-200"
        (click)="navigateForgotPassword()"
      >
        ¿Olvidaste tu contraseña?
      </button>
    </div>

    <div class="pt-2">
      <p-button
        type="submit"
        [label]="isLoading() ? 'Cargando...' : 'Iniciar Sesión'"
        [loading]="isLoading()"
        [disabled]="loginForm.invalid || isLoading()"
        styleClass="w-full !bg-white hover:!bg-neutral-200 disabled:!bg-neutral-800 disabled:!text-neutral-600 !border-none !py-4 !rounded-xl !font-bold !text-neutral-950 transition-all duration-200 shadow-md hover:shadow-lg active:scale-[0.99]"
      />
    </div>
  </form>
</div>
